.search {
  display: inline-block;
  align-items: center;
  margin-left: auto;
}

.search input {
  width: 300px;
  border: none;
  border-bottom: 1px solid #aaa;
  margin: 0 5px;
}

.search input:focus {
  outline: none;
  border-bottom: 1px solid rgb(95, 154, 242);
}

